This project is based on Data Cleaning using the web scraped data from the kaggle

In [636]:
import pandas as pd
import numpy as np

In [637]:
autos = pd.read_csv("autos.csv",encoding = "Latin-1")

In [638]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [639]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [640]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In this part I imported some sample csv and imported required libraries and saw the overall info of the data

In [641]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [642]:
columns_copy = autos.columns

In [643]:
columns_copy

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [644]:
def cleaning(x):
    if x == "yearOfRegistration":
        x = "registration_year"
    elif x == "monthOfRegistration":
        x = "registration_month"
    elif x == "notRepairedDamage":
        x = "unrepaired_damage"
    elif  x == "dateCreated":
        x = "ad_created"   
    else:
        x = ''.join(['_'+i.lower() if i.isupper() else i for i in x]) 
    return x
cleaned_columns = []
for c in columns_copy:
    clean_column = cleaning(c)
    cleaned_columns.append(clean_column)

In [645]:
cleaned_columns

['date_crawled',
 'name',
 'seller',
 'offer_type',
 'price',
 'abtest',
 'vehicle_type',
 'registration_year',
 'gearbox',
 'power_p_s',
 'model',
 'odometer',
 'registration_month',
 'fuel_type',
 'brand',
 'unrepaired_damage',
 'ad_created',
 'nr_of_pictures',
 'postal_code',
 'last_seen']

In [646]:
autos.columns = cleaned_columns

In [647]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In this part I cleaned the autos data columns labels using for loop

In [648]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [649]:
autos.describe(include = "all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [650]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offer_type          50000 non-null  object
 4   price               50000 non-null  object
 5   abtest              50000 non-null  object
 6   vehicle_type        44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   power_p_s           50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer            50000 non-null  object
 12  registration_month  50000 non-null  int64
 13  fuel_type           45518 non-null  object
 14  brand               50000 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  ad_created          50000 non-null  object
 17  nr_of_pictures      50000 non-null  int64
 18  postal_code         50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

From the above analysis we can observe power_p_s and price column are in object type we need to change that

In [651]:
autos["price"]

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
          ...
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

In [652]:
autos["price"].value_counts()

$0          1421
$500         781
$1,500       734
$2,500       643
$1,000       639
            ...
$4,320         1
$24,350        1
$137,999       1
$16,666        1
$20,300        1
Name: price, Length: 2357, dtype: int64

We can observe a pattern in the price which every value contains dollar symbol and comma . lets remove that and put it in the price column name itself

In [653]:
autos["price"] = autos["price"].str.replace("$","")

In [654]:
autos["price"]

0         5,000
1         8,500
2         8,990
3         4,350
4         1,350
          ...
49995    24,900
49996     1,980
49997    13,200
49998    22,900
49999     1,250
Name: price, Length: 50000, dtype: object

In [655]:
autos["price"] = autos["price"].str.replace(",","")

In [656]:
autos["price"]

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: object

Now lets change the price column data type

In [657]:
autos["price"] = autos["price"].astype(int)

Now lets clean the odometer column

In [658]:
autos["odometer"]

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
           ...
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odometer, Length: 50000, dtype: object

Now we found a pattern in the odometer values lets clean it

In [659]:
autos["odometer"] = autos["odometer"].str.replace("km","")

In [660]:
autos["odometer"] = autos["odometer"].str.replace(",","")

In [661]:
autos["odometer"]

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer, Length: 50000, dtype: object

In [662]:
autos["odometer"] = autos["odometer"].astype(int)

Now lets rename the columnns name of the price and odometer

In [663]:
autos.rename({"odometer":"odometer_km"},axis = 1,inplace = True)

In [664]:
autos.rename({"price":"price_usd"},axis = 1,inplace = True)

In [665]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In this part I cleaned the data of the price and odometer columns

In [666]:
autos["price_usd"].max()

99999999

In [667]:
autos["price_usd"].min()

0

In [668]:
autos["odometer_km"].max()

150000

In [669]:
autos["odometer_km"].min()

5000

In [670]:
autos["price_usd"].unique().shape

(2357,)

In [671]:
autos["odometer_km"].unique().shape

(13,)

In [672]:
autos["price_usd"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_usd, dtype: float64

In [673]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [674]:
autos["price_usd"].value_counts()

0        1421
500       781
1500      734
2500      643
1000      639
         ...
20790       1
8970        1
846         1
2895        1
33980       1
Name: price_usd, Length: 2357, dtype: int64

In [675]:
autos["odometer_km"].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [676]:
autos["price_usd"].value_counts().sort_index(ascending = False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price_usd, dtype: int64

In [677]:
autos["price_usd"].value_counts().sort_index(ascending = True).head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price_usd, dtype: int64

In [678]:
autos["odometer_km"].value_counts().sort_index(ascending = False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

Now lets remove the outliers in the price column which looks unrealistic

In [679]:
autos = autos[autos["price_usd"].between(1000,190000)]

In [680]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In this part I removed the outliers in the price and odometer column

In the price column the cars less than 1000  and greater 190000 prices are removed as these number look unrealistic

In [681]:
autos[["date_crawled","ad_created","last_seen"]].head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [682]:
autos.loc[:,"date_crawled"] = autos.loc[:,"date_crawled"].str[:10]

/dataquest/system/env/python3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [683]:
autos.loc[:,"ad_created"] = autos.loc[:,"ad_created"].str[:10]

In [684]:
autos.loc[:,"last_seen"] = autos.loc[:,"last_seen"].str[:10]

In [685]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27,0,82131,2016-04-01
49996,2016-03-28,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28,0,44807,2016-04-02
49997,2016-04-02,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02,0,73430,2016-04-04
49998,2016-03-08,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08,0,35683,2016-04-05
49999,2016-03-14,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13,0,45897,2016-04-06

In [686]:
autos["date_crawled"].value_counts(normalize=True, dropna=False).sort_index(ascending = True)

2016-03-05    0.025560
2016-03-06    0.013881
2016-03-07    0.035142
2016-03-08    0.032604
2016-03-09    0.032474
2016-03-10    0.033329
2016-03-11    0.032811
2016-03-12    0.037395
2016-03-13    0.016004
2016-03-14    0.036644
2016-03-15    0.033640
2016-03-16    0.029056
2016-03-17    0.030480
2016-03-18    0.012845
2016-03-19    0.035142
2016-03-20    0.038146
2016-03-21    0.037265
2016-03-22    0.032526
2016-03-23    0.032190
2016-03-24    0.029030
2016-03-25    0.030532
2016-03-26    0.033122
2016-03-27    0.031387
2016-03-28    0.035323
2016-03-29    0.033976
2016-03-30    0.033044
2016-03-31    0.031413
2016-04-01    0.034624
2016-04-02    0.036307
2016-04-03    0.039130
2016-04-04    0.036877
2016-04-05    0.013337
2016-04-06    0.003263
2016-04-07    0.001502
Name: date_crawled, dtype: float64

from the above code we can clearly see that most data crawled on 2016-03-05  and least on 2016-04-07. I did this using value_counts with percentage

In [687]:
autos["ad_created"].value_counts(normalize=True, dropna=False).sort_index(ascending = True)

2015-06-11    0.000026
2015-08-10    0.000026
2015-09-09    0.000026
2015-11-10    0.000026
2015-12-30    0.000026
                ...
2016-04-03    0.039441
2016-04-04    0.037291
2016-04-05    0.011964
2016-04-06    0.003367
2016-04-07    0.001321
Name: ad_created, Length: 74, dtype: float64

from the above code we can clearly see that most ad created on 2015-06-11 and least on 2016-04-07. I did this using value_counts with percentage

In [688]:
autos["last_seen"].value_counts(normalize=True, dropna=False).sort_index(ascending = True)

2016-03-05    0.001088
2016-03-06    0.003574
2016-03-07    0.004558
2016-03-08    0.006241
2016-03-09    0.008908
2016-03-10    0.009815
2016-03-11    0.011731
2016-03-12    0.022193
2016-03-13    0.008391
2016-03-14    0.011990
2016-03-15    0.014994
2016-03-16    0.015434
2016-03-17    0.026389
2016-03-18    0.007381
2016-03-19    0.014606
2016-03-20    0.019811
2016-03-21    0.019656
2016-03-22    0.020795
2016-03-23    0.017920
2016-03-24    0.018542
2016-03-25    0.017765
2016-03-26    0.016082
2016-03-27    0.014062
2016-03-28    0.019397
2016-03-29    0.020769
2016-03-30    0.023462
2016-03-31    0.022737
2016-04-01    0.023203
2016-04-02    0.024913
2016-04-03    0.024421
2016-04-04    0.023385
2016-04-05    0.131115
2016-04-06    0.234702
2016-04-07    0.139972
Name: last_seen, dtype: float64

from the above code we can clearly see that most last seen on 2016-03-05 and least on 2016-04-07. I did this using value_counts with percentage

I cleaned the Date columns of date_crawled, ad_created, and last_seen and did some analysis using value_counts with percentage

In [689]:
autos["registration_year"].describe()

count    38615.000000
mean      2005.679114
std         86.697256
min       1000.000000
25%       2001.000000
50%       2005.000000
75%       2009.000000
max       9999.000000
Name: registration_year, dtype: float64

In [690]:
autos["registration_year"].unique()

array([2004, 1997, 2009, 2007, 2003, 2006, 1998, 2010, 1999, 1982, 1990,
       2015, 2014, 2002, 2000, 2012, 2011, 1995, 2005, 2008, 1985, 1996,
       1992, 2017, 1986, 2016, 2001, 2013, 2018, 1972, 1993, 1988, 1989,
       1973, 1994, 1967, 1976, 4500, 1987, 1991, 1983, 1960, 1969, 1978,
       1980, 1984, 1963, 1977, 1961, 1968, 1934, 1965, 1971, 1966, 1979,
       1981, 1970, 1974, 1975, 4100, 1956, 6200, 1964, 1959, 1958, 1948,
       1931, 1943, 1941, 1950, 1962, 1927, 1937, 1929, 1000, 5000, 1957,
       1952, 1955, 1939, 8888, 1954, 1938, 2800, 5911, 9999, 1953, 1951,
       2019, 1001, 9000])

from the above distribution of the registration_year column we can clearly see that there are outliers like 9000,8888 etc

In [691]:
autos["registration_year"].value_counts().sort_index(ascending = False)

9999    2
9000    1
8888    1
6200    1
5911    1
       ..
1931    1
1929    1
1927    1
1001    1
1000    1
Name: registration_year, Length: 91, dtype: int64

In [692]:
autos = autos[autos["registration_year"].between(1900,2016)]

From the registration_year column we choose 1900 - 2016 because it seems legitimate data set

In [693]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27,0,82131,2016-04-01
49996,2016-03-28,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28,0,44807,2016-04-02
49997,2016-04-02,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02,0,73430,2016-04-04
49998,2016-03-08,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08,0,35683,2016-04-05
49999,2016-03-14,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13,0,45897,2016-04-06

Now I removed the values 1900 - 2016 in the registration_year column and inserted into the same dataframe autos

In [694]:
autos["registration_year"].value_counts(normalize = True).sort_index(ascending = True )

1927    0.000027
1929    0.000027
1931    0.000027
1934    0.000054
1937    0.000108
          ...
2012    0.035085
2013    0.021374
2014    0.017449
2015    0.009625
2016    0.017422
Name: registration_year, Length: 77, dtype: float64

Now we can see the percentage of registration of car each year in the above line of code

In [695]:
autos["brand"].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'audi', 'renault', 'sonstige_autos', 'mazda', 'porsche', 'mini',
       'mercedes_benz', 'seat', 'toyota', 'opel', 'dacia', 'jeep', 'saab',
       'volvo', 'nissan', 'jaguar', 'skoda', 'subaru', 'fiat',
       'mitsubishi', 'chevrolet', 'hyundai', 'honda', 'kia', 'citroen',
       'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'rover',
       'daihatsu', 'daewoo', 'lancia', 'lada'], dtype=object)

In [696]:
chosen_brands = autos["brand"].value_counts().index[:20]

In [697]:
chosen_brands

Index(['volkswagen', 'bmw', 'mercedes_benz', 'audi', 'opel', 'ford', 'renault',
       'peugeot', 'fiat', 'skoda', 'seat', 'smart', 'toyota', 'mazda',
       'citroen', 'nissan', 'mini', 'hyundai', 'sonstige_autos', 'volvo'],
      dtype='object')

I have chosen the top 20 car brands by most frequently appeared brand in dataset below are the car brands i chosen
['volkswagen', 'bmw', 'mercedes_benz', 'audi', 'opel', 'ford', 'renault',
       'peugeot', 'fiat', 'skoda', 'seat', 'smart', 'toyota', 'mazda',
       'citroen', 'nissan', 'mini', 'hyundai', 'sonstige_autos', 'volvo']

In [698]:
brand_mean_price = {}

for b in chosen_brands:
    mean = autos.loc[autos["brand"]==b,"price_usd"].mean()
    brand_mean_price[b] = mean

In [699]:
brand_mean_price

{'volkswagen': 6645.13260232054,
 'bmw': 9013.933719433719,
 'mercedes_benz': 9302.614402697494,
 'audi': 10322.269347287249,
 'opel': 4219.954737477368,
 'ford': 5331.478021978022,
 'renault': 3590.942321557318,
 'peugeot': 3955.169556840077,
 'fiat': 4008.174744897959,
 'skoda': 6836.696755994359,
 'seat': 5638.640746500778,
 'smart': 3780.4692556634304,
 'toyota': 5573.57169117647,
 'mazda': 5309.526415094339,
 'citroen': 4614.970986460348,
 'nissan': 6428.428007889546,
 'mini': 10715.237037037037,
 'hyundai': 6181.8725,
 'sonstige_autos': 13136.488372093023,
 'volvo': 6151.583832335329}

In [700]:
print(brand_mean_price)

{'volkswagen': 6645.13260232054, 'bmw': 9013.933719433719, 'mercedes_benz': 9302.614402697494, 'audi': 10322.269347287249, 'opel': 4219.954737477368, 'ford': 5331.478021978022, 'renault': 3590.942321557318, 'peugeot': 3955.169556840077, 'fiat': 4008.174744897959, 'skoda': 6836.696755994359, 'seat': 5638.640746500778, 'smart': 3780.4692556634304, 'toyota': 5573.57169117647, 'mazda': 5309.526415094339, 'citroen': 4614.970986460348, 'nissan': 6428.428007889546, 'mini': 10715.237037037037, 'hyundai': 6181.8725, 'sonstige_autos': 13136.488372093023, 'volvo': 6151.583832335329}

From the above results we can clearly see the top 20 car brands as key of the dictionary and the mean price of that car brand in the dataset as the value of the dictionary

In [701]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27,0,82131,2016-04-01
49996,2016-03-28,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28,0,44807,2016-04-02
49997,2016-04-02,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02,0,73430,2016-04-04
49998,2016-03-08,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08,0,35683,2016-04-05
49999,2016-03-14,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13,0,45897,2016-04-06

In [702]:
brand_mean_mileage = {}

for b in chosen_brands:
    mean_mileage = autos.loc[autos["brand"] == b,"odometer_km"].mean()
    brand_mean_mileage[b] = mean_mileage

In [703]:
brand_mean_mileage

{'volkswagen': 125765.65089889073,
 'bmw': 132052.76705276704,
 'mercedes_benz': 130062.6204238921,
 'audi': 127491.04929771413,
 'opel': 123952.92697646348,
 'ford': 119619.96336996337,
 'renault': 121423.93655371305,
 'peugeot': 122341.04046242774,
 'fiat': 107901.78571428571,
 'skoda': 110063.46967559944,
 'seat': 116104.19906687403,
 'smart': 97775.08090614887,
 'toyota': 113740.80882352941,
 'mazda': 119981.1320754717,
 'citroen': 114245.64796905222,
 'nissan': 110335.3057199211,
 'mini': 88679.01234567902,
 'hyundai': 101862.5,
 'sonstige_autos': 90129.19896640826,
 'volvo': 137230.53892215568}

In [704]:
print(brand_mean_mileage)

{'volkswagen': 125765.65089889073, 'bmw': 132052.76705276704, 'mercedes_benz': 130062.6204238921, 'audi': 127491.04929771413, 'opel': 123952.92697646348, 'ford': 119619.96336996337, 'renault': 121423.93655371305, 'peugeot': 122341.04046242774, 'fiat': 107901.78571428571, 'skoda': 110063.46967559944, 'seat': 116104.19906687403, 'smart': 97775.08090614887, 'toyota': 113740.80882352941, 'mazda': 119981.1320754717, 'citroen': 114245.64796905222, 'nissan': 110335.3057199211, 'mini': 88679.01234567902, 'hyundai': 101862.5, 'sonstige_autos': 90129.19896640826, 'volvo': 137230.53892215568}

In [705]:
bmp = pd.Series(brand_mean_price)

In [706]:
bmp

volkswagen         6645.132602
bmw                9013.933719
mercedes_benz      9302.614403
audi              10322.269347
opel               4219.954737
ford               5331.478022
renault            3590.942322
peugeot            3955.169557
fiat               4008.174745
skoda              6836.696756
seat               5638.640747
smart              3780.469256
toyota             5573.571691
mazda              5309.526415
citroen            4614.970986
nissan             6428.428008
mini              10715.237037
hyundai            6181.872500
sonstige_autos    13136.488372
volvo              6151.583832
dtype: float64

In [707]:
bmm = pd.Series(brand_mean_mileage)

In [708]:
bmm

volkswagen        125765.650899
bmw               132052.767053
mercedes_benz     130062.620424
audi              127491.049298
opel              123952.926976
ford              119619.963370
renault           121423.936554
peugeot           122341.040462
fiat              107901.785714
skoda             110063.469676
seat              116104.199067
smart              97775.080906
toyota            113740.808824
mazda             119981.132075
citroen           114245.647969
nissan            110335.305720
mini               88679.012346
hyundai           101862.500000
sonstige_autos     90129.198966
volvo             137230.538922
dtype: float64

In [709]:
df = pd.DataFrame(bmp,columns=["mean_price"])

In [710]:
df

                  mean_price
volkswagen       6645.132602
bmw              9013.933719
mercedes_benz    9302.614403
audi            10322.269347
opel             4219.954737
ford             5331.478022
renault          3590.942322
peugeot          3955.169557
fiat             4008.174745
skoda            6836.696756
seat             5638.640747
smart            3780.469256
toyota           5573.571691
mazda            5309.526415
citroen          4614.970986
nissan           6428.428008
mini            10715.237037
hyundai          6181.872500
sonstige_autos  13136.488372
volvo            6151.583832

In [711]:
df["mean_mileage"] = bmm

In [712]:
df

                  mean_price   mean_mileage
volkswagen       6645.132602  125765.650899
bmw              9013.933719  132052.767053
mercedes_benz    9302.614403  130062.620424
audi            10322.269347  127491.049298
opel             4219.954737  123952.926976
ford             5331.478022  119619.963370
renault          3590.942322  121423.936554
peugeot          3955.169557  122341.040462
fiat             4008.174745  107901.785714
skoda            6836.696756  110063.469676
seat             5638.640747  116104.199067
smart            3780.469256   97775.080906
toyota           5573.571691  113740.808824
mazda            5309.526415  119981.132075
citroen          4614.970986  114245.647969
nissan           6428.428008  110335.305720
mini            10715.237037   88679.012346
hyundai          6181.872500  101862.500000
sonstige_autos  13136.488372   90129.198966
volvo            6151.583832  137230.538922

In [713]:
print(df)

                  mean_price   mean_mileage
volkswagen       6645.132602  125765.650899
bmw              9013.933719  132052.767053
mercedes_benz    9302.614403  130062.620424
audi            10322.269347  127491.049298
opel             4219.954737  123952.926976
ford             5331.478022  119619.963370
renault          3590.942322  121423.936554
peugeot          3955.169557  122341.040462
fiat             4008.174745  107901.785714
skoda            6836.696756  110063.469676
seat             5638.640747  116104.199067
smart            3780.469256   97775.080906
toyota           5573.571691  113740.808824
mazda            5309.526415  119981.132075
citroen          4614.970986  114245.647969
nissan           6428.428008  110335.305720
mini            10715.237037   88679.012346
hyundai          6181.872500  101862.500000
sonstige_autos  13136.488372   90129.198966
volvo            6151.583832  137230.538922

From the above line of Code  we can see the top brands with their Mean Price and Mean mileage from the dataset.Using Pandas Series and Dataframe I did this analysis

In [714]:
autos.head()

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01

In [715]:
autos["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [716]:
autos["fuel_type"].unique()

array(['lpg', 'benzin', 'diesel', nan, 'cng', 'hybrid', 'elektro',
       'andere'], dtype=object)

In [717]:
autos["unrepaired_damage"].unique()

array(['nein', nan, 'ja'], dtype=object)

From the above observation we can clearly see that the gearbox,fuel_type and unrepaired_damage columns have the German language 

Nows let change the values to english

From Google I have researched the german language and got the english translation for the above words 

Come on Now lets Change it

In [718]:
the_dict={'manuell': 'manual',
          'automatik':'automatic',
          'lpg':'lpg',
          'benzin': 'petrol',
          'diesel':'diesel', 
          'cng': 'cng',
          'hybrid':'hybrid',
          'elektro':'electric',  
          'andere':'others',
          'nein':'no',
          'ja':'yes'}

to_change_columns = ["gearbox","fuel_type","unrepaired_damage"]


for c in to_change_columns:
    autos[c] = autos[c].map(the_dict)

<ipython-input-718-a1ca6b1c43e4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  autos[c] = autos[c].map(the_dict)

In [719]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,no,2016-03-26,0,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,no,2016-04-04,0,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,no,2016-03-26,0,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatic,71,fortwo,70000,6,petrol,smart,no,2016-03-12,0,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manual,0,focus,150000,7,petrol,ford,no,2016-04-01,0,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,2016-03-27,0,82131,2016-04-01
49996,2016-03-28,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manual,75,astra,150000,5,petrol,opel,no,2016-03-28,0,44807,2016-04-02
49997,2016-04-02,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatic,69,500,5000,11,petrol,fiat,no,2016-04-02,0,73430,2016-04-04
49998,2016-03-08,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manual,150,a3,40000,11,diesel,audi,no,2016-03-08,0,35683,2016-04-05
49999,2016-03-14,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manual,101,vectra,150000,1,petrol,opel,no,2016-03-13,0,45897,2016-04-06

In [720]:
autos = autos.reset_index(drop=True)

In the above line of code I have resetted the index so it can be readable to everyone

In [721]:
autos["seller"].value_counts()

privat    37195
Name: seller, dtype: int64

In the Seller column we have only one unique value so we can drop this column so our dataset might look clean  also during our data analysis dropping single value column doesn't matter

In [722]:
autos["offer_type"].value_counts()

Angebot    37195
Name: offer_type, dtype: int64

In the Offer column we have only one unique value so we can drop this column so our dataset might look clean also during our data analysis dropping single value column doesn't matter

In [723]:
autos["nr_of_pictures"].value_counts()

0    37195
Name: nr_of_pictures, dtype: int64

In the nr_of_pictures column we have only one unique value so we can drop this column so our dataset might look clean also during our data analysis dropping single value column doesn't matter

In [724]:
autos = autos.drop(columns = ["seller","offer_type","nr_of_pictures"],inplace = False)

In [725]:
autos

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,no,2016-03-26,79588,2016-04-06
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,no,2016-04-04,71034,2016-04-06
2,2016-03-26,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,no,2016-03-26,35394,2016-04-06
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatic,71,fortwo,70000,6,petrol,smart,no,2016-03-12,33729,2016-03-15
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manual,0,focus,150000,7,petrol,ford,no,2016-04-01,39218,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37190,2016-03-27,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,2016-03-27,82131,2016-04-01
37191,2016-03-28,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,1980,control,cabrio,1996,manual,75,astra,150000,5,petrol,opel,no,2016-03-28,44807,2016-04-02
37192,2016-04-02,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatic,69,500,5000,11,petrol,fiat,no,2016-04-02,73430,2016-04-04
37193,2016-03-08,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manual,150,a3,40000,11,diesel,audi,no,2016-03-08,35683,2016-04-05
37194,2016-03-14,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manual,101,vectra,150000,1,petrol,opel,no,2016-03-13,45897,2016-04-06

Now lets change the date values to integer values
for example : "2016-03-21" becomes the integer 20160321

In [726]:
autos["date_crawled"] = autos["date_crawled"].str.replace("-","").astype(int)

In [727]:
autos["ad_created"] = autos["ad_created"].str.replace("-","").astype(int)

In [731]:
autos["last_seen"] = autos["last_seen"].str.replace("-","").astype(int)

In [729]:
autos

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,no,20160326,79588,20160406
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,no,20160404,71034,20160406
2,20160326,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,no,20160326,35394,20160406
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatic,71,fortwo,70000,6,petrol,smart,no,20160312,33729,20160315
4,20160401,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manual,0,focus,150000,7,petrol,ford,no,20160401,39218,20160401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37190,20160327,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,20160327,82131,20160401
37191,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,1980,control,cabrio,1996,manual,75,astra,150000,5,petrol,opel,no,20160328,44807,20160402
37192,20160402,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatic,69,500,5000,11,petrol,fiat,no,20160402,73430,20160404
37193,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manual,150,a3,40000,11,diesel,audi,no,20160308,35683,20160405
37194,20160314,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manual,101,vectra,150000,1,petrol,opel,no,20160313,45897,20160406

Now lets find the most common brand and model combinations

In [746]:
autos.groupby("brand")["model"].value_counts().sort_values(ascending = False).head(10)

brand          model
volkswagen     golf        2918
bmw            3er         2285
volkswagen     passat      1152
audi           a4          1092
bmw            5er         1065
mercedes_benz  c_klasse    1034
opel           astra        981
volkswagen     polo         947
mercedes_benz  e_klasse     890
opel           corsa        826
Name: model, dtype: int64

From the above the line of code we can see the most common brand / model combinations with value counts

Now Lets find out how cheaper the cars are with damaged and non-damaged

In [751]:
autos.groupby("unrepaired_damage")["price_usd"].mean().sort_values(ascending = False)

unrepaired_damage
no     7981.532330
yes    3899.415517
Name: price_usd, dtype: float64

From the above solution we can clearly see the difference between the damaged and undamaged car price 
The mean Damaged car price is half the mean price of the undamaged car price